KAFKA_BOOTSTRAP=localhost:9092
INPUT_TOPIC=ufs.bulk.input
OUTPUT_TOPIC=ufs.bulk.output
CONSUMER_GROUP_ID=ufs-service-non-batch
UFS_FORECAST_ENDPOINT=https://xyz.something/forecast
UFS_TIMEOUT_SECONDS=30
MAX_POLL_RECORDS=1
